In [2]:
import numpy as np 
import pandas as pd

In [3]:
file = "../../Data/titanic.csv"

In [4]:
file = "/Users/ala/Documents/Data/titanic.csv"

In [5]:
df = pd.read_csv(file)

In [6]:
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708
10,1,3,Miss. Marguerite Rut Sandstrom,female,4.0,1,1,16.7000
11,1,1,Miss. Elizabeth Bonnell,female,58.0,0,0,26.5500
12,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
13,0,3,Mr. Anders Johan Andersson,male,39.0,1,5,31.2750
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
15,1,2,Mrs. (Mary D Kingcome) Hewlett,female,55.0,0,0,16.0000
16,0,3,Master. Eugene Rice,male,2.0,4,1,29.1250
17,1,2,Mr. Charles Eugene Williams,male,23.0,0,0,13.0000
18,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,female,31.0,1,0,18.0000
19,1,3,Mrs. Fatima Masselmani,female,22.0,0,0,7.2250
20,0,2,Mr. Joseph J Fynney,male,35.0,0,0,26.0000
21,1,2,Mr. Lawrence Beesley,male,34.0,0,0,13.0000
22,1,3,Miss. Anna McGowan,female,15.0,0,0,8.0292
23,1,1,Mr. William Thompson Sloper,male,28.0,0,0,35.5000
24,0,3,Miss. Torborg Danira Palsson,female,8.0,3,1,21.0750
25,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,female,38.0,1,5,31.3875
26,0,3,Mr. Farred Chehab Emir,male,26.0,0,0,7.2250
27,0,1,Mr. Charles Alexander Fortune,male,19.0,3,2,263.0000
28,1,3,Miss. Ellen O'Dwyer,female,24.0,0,0,7.8792
29,0,3,Mr. Lalio Todoroff,male,23.0,0,0,7.8958
...,...,...,...,...,...,...,...,...
857,0,2,Mr. Frederick Edward Giles,male,21.0,1,0,11.5000
858,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...,female,48.0,0,0,25.9292
859,0,3,Miss. Dorothy Edith Sage,female,14.0,8,2,69.5500
860,0,2,Mr. John William Gill,male,24.0,0,0,13.0000
861,1,2,Mrs. (Karolina) Bystrom,female,42.0,0,0,13.0000
862,1,2,Miss. Asuncion Duran y More,female,27.0,1,0,13.8583
863,0,1,Mr. Washington Augustus II Roebling,male,31.0,0,0,50.4958
864,0,3,Mr. Philemon van Melkebeke,male,23.0,0,0,9.5000
865,1,3,Master. Harold Theodor Johnson,male,4.0,1,1,11.1333
866,0,3,Mr. Cerin Balkic,male,26.0,0,0,7.8958
867,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,female,47.0,1,1,52.5542
868,0,1,Mr. Frans Olof Carlsson,male,33.0,0,0,5.0000
869,0,3,Mr. Victor Vander Cruyssen,male,47.0,0,0,9.0000
870,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,female,28.0,1,0,24.0000
871,1,3,Miss. Adele Kiamie Najib,female,15.0,0,0,7.2250
872,0,3,Mr. Alfred Ossian Gustafsson,male,20.0,0,0,9.8458
873,0,3,Mr. Nedelio Petroff,male,19.0,0,0,7.8958
874,0,3,Mr. Kristo Laleff,male,23.0,0,0,7.8958
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
877,0,3,Mr. Johann Markun,male,33.0,0,0,7.8958
878,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
879,0,2,Mr. Frederick James Banfield,male,28.0,0,0,10.5000
880,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
881,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [7]:
df['Pclass'].unique()

array([3, 1, 2])

In [8]:
df[(df['Pclass'] == 3) | (df['Pclass'] == 2) ]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708
10,1,3,Miss. Marguerite Rut Sandstrom,female,4.0,1,1,16.7000
12,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
13,0,3,Mr. Anders Johan Andersson,male,39.0,1,5,31.2750
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
15,1,2,Mrs. (Mary D Kingcome) Hewlett,female,55.0,0,0,16.0000
16,0,3,Master. Eugene Rice,male,2.0,4,1,29.1250
17,1,2,Mr. Charles Eugene Williams,male,23.0,0,0,13.0000
18,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,female,31.0,1,0,18.0000
19,1,3,Mrs. Fatima Masselmani,female,22.0,0,0,7.2250
20,0,2,Mr. Joseph J Fynney,male,35.0,0,0,26.0000
21,1,2,Mr. Lawrence Beesley,male,34.0,0,0,13.0000
22,1,3,Miss. Anna McGowan,female,15.0,0,0,8.0292
24,0,3,Miss. Torborg Danira Palsson,female,8.0,3,1,21.0750
25,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,female,38.0,1,5,31.3875
26,0,3,Mr. Farred Chehab Emir,male,26.0,0,0,7.2250
28,1,3,Miss. Ellen O'Dwyer,female,24.0,0,0,7.8792
29,0,3,Mr. Lalio Todoroff,male,23.0,0,0,7.8958
32,1,3,Miss. Mary Agatha Glynn,female,18.0,0,0,7.7500
33,0,2,Mr. Edward H Wheadon,male,66.0,0,0,10.5000
36,1,3,Mr. Hanna Mamee,male,18.0,0,0,7.2292
37,0,3,Mr. Ernest Charles Cann,male,21.0,0,0,8.0500
38,0,3,Miss. Augusta Maria Vander Planke,female,18.0,2,0,18.0000
39,1,3,Miss. Jamila Nicola-Yarred,female,14.0,1,0,11.2417
...,...,...,...,...,...,...,...,...
847,0,3,Mr. Johan Svensson,male,74.0,0,0,7.7750
848,0,3,Miss. Nourelain Boulos,female,9.0,1,1,15.2458
850,0,2,Mrs. Ernest Courtenay (Lilian Hughes) Carter,female,44.0,1,0,26.0000
851,1,3,Mrs. Sam (Leah Rosen) Aks,female,18.0,0,1,9.3500
854,1,3,Mrs. Solomon (Latifa Qurban) Baclini,female,24.0,0,3,19.2583
855,0,3,Mr. Raihed Razi,male,30.0,0,0,7.2292
856,0,3,Mr. Claus Peter Hansen,male,41.0,2,0,14.1083
857,0,2,Mr. Frederick Edward Giles,male,21.0,1,0,11.5000
859,0,3,Miss. Dorothy Edith Sage,female,14.0,8,2,69.5500
860,0,2,Mr. John William Gill,male,24.0,0,0,13.0000
861,1,2,Mrs. (Karolina) Bystrom,female,42.0,0,0,13.0000
862,1,2,Miss. Asuncion Duran y More,female,27.0,1,0,13.8583
864,0,3,Mr. Philemon van Melkebeke,male,23.0,0,0,9.5000
865,1,3,Master. Harold Theodor Johnson,male,4.0,1,1,11.1333
866,0,3,Mr. Cerin Balkic,male,26.0,0,0,7.8958
869,0,3,Mr. Victor Vander Cruyssen,male,47.0,0,0,9.0000
870,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,female,28.0,1,0,24.0000
871,1,3,Miss. Adele Kiamie Najib,female,15.0,0,0,7.2250
872,0,3,Mr. Alfred Ossian Gustafsson,male,20.0,0,0,9.8458
873,0,3,Mr. Nedelio Petroff,male,19.0,0,0,7.8958
874,0,3,Mr. Kristo Laleff,male,23.0,0,0,7.8958
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
877,0,3,Mr. Johann Markun,male,33.0,0,0,7.8958
878,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
879,0,2,Mr. Frederick James Banfield,male,28.0,0,0,10.5000
880,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
881,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [9]:
%timeit df[(df['Pclass'] == 3) | (df['Pclass'] == 2) ]

833 µs ± 36.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [10]:
%timeit df.query('Pclass in [2,3]')

1.2 ms ± 35.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [11]:
%%timeit
a = df 
c = [2,3]
b= a.query('Pclass in {}'.format(c))

1.35 ms ± 90.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [12]:
%timeit df[df['Pclass'].isin([2,3])]

512 µs ± 18.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [15]:
from sklearn.datasets import california_housing

In [19]:
c = california_housing.fetch_california_housing()

In [21]:
pd.DataFrame(c.data)

            0     1         2         3       4         5      6       7
0      8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1      8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2      7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3      5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4      3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25
5      4.0368  52.0  4.761658  1.103627   413.0  2.139896  37.85 -122.25
6      3.6591  52.0  4.931907  0.951362  1094.0  2.128405  37.84 -122.25
7      3.1200  52.0  4.797527  1.061824  1157.0  1.788253  37.84 -122.25
8      2.0804  42.0  4.294118  1.117647  1206.0  2.026891  37.84 -122.26
9      3.6912  52.0  4.970588  0.990196  1551.0  2.172269  37.84 -122.25
10     3.2031  52.0  5.477612  1.079602   910.0  2.263682  37.85 -122.26
11     3.2705  52.0  4.772480  1.024523  1504.0  2.049046  37.85 -122.26
12     3.0750  52.0  5.322650  1.012821  1098.0  2.346154  37.85 -122.26
13     2.6736  52.0  4.000000  1.097701   345.0  1.982759  37.84 -122.26
14     1.9167  52.0  4.262903  1.009677  1212.0  1.954839  37.85 -122.26
15     2.1250  50.0  4.242424  1.071970   697.0  2.640152  37.85 -122.26
16     2.7750  52.0  5.939577  1.048338   793.0  2.395770  37.85 -122.27
17     2.1202  52.0  4.052805  0.966997   648.0  2.138614  37.85 -122.27
18     1.9911  50.0  5.343675  1.085919   990.0  2.362768  37.84 -122.26
19     2.6033  52.0  5.465455  1.083636   690.0  2.509091  37.84 -122.27
20     1.3578  40.0  4.524096  1.108434   409.0  2.463855  37.85 -122.27
21     1.7135  42.0  4.478142  1.002732   929.0  2.538251  37.85 -122.27
22     1.7250  52.0  5.096234  1.131799  1015.0  2.123431  37.84 -122.27
23     2.1806  52.0  5.193846  1.036923   853.0  2.624615  37.84 -122.27
24     2.6000  52.0  5.270142  1.035545  1006.0  2.383886  37.84 -122.27
25     2.4038  41.0  4.495798  1.033613   317.0  2.663866  37.85 -122.28
26     2.4597  49.0  4.728033  1.020921   607.0  2.539749  37.85 -122.28
27     1.8080  52.0  4.780856  1.060453  1102.0  2.775819  37.85 -122.28
28     1.6424  50.0  4.401691  1.040169  1131.0  2.391121  37.84 -122.28
29     1.6875  52.0  4.703226  1.032258   395.0  2.548387  37.84 -122.28
...       ...   ...       ...       ...     ...       ...    ...     ...
20610  1.3631  28.0  4.851936  1.102506  1195.0  2.722096  39.10 -121.56
20611  1.2857  27.0  4.359413  1.078240  1163.0  2.843521  39.10 -121.55
20612  1.4934  26.0  5.157303  1.082397   761.0  2.850187  39.08 -121.56
20613  1.4958  31.0  4.500000  0.950521  1167.0  3.039062  39.09 -121.55
20614  2.4695  26.0  4.801688  0.970464  1455.0  3.069620  39.08 -121.54
20615  2.3598  23.0  5.461929  1.096447   724.0  3.675127  39.08 -121.54
20616  2.0469  15.0  4.826667  1.176000  1157.0  3.085333  39.08 -121.53
20617  3.3021  20.0  4.921053  0.956140   308.0  2.701754  39.06 -121.53
20618  2.2500  25.0  5.893805  1.092920   726.0  3.212389  39.06 -121.55
20619  2.7303  22.0  6.388514  1.148649  1023.0  3.456081  39.01 -121.56
20620  4.5625  40.0  4.125000  0.854167   151.0  3.145833  39.05 -121.48
20621  2.3661  37.0  7.923567  1.573248   484.0  3.082803  39.01 -121.47
20622  2.4167  20.0  4.808917  0.936306   457.0  2.910828  39.00 -121.44
20623  2.8235  32.0  5.101322  1.074890   598.0  2.634361  39.03 -121.37
20624  3.0739  16.0  5.835052  1.030928   731.0  2.512027  39.04 -121.41
20625  4.1250  37.0  7.285714  1.214286    29.0  2.071429  39.12 -121.52
20626  2.1667  36.0  6.573099  1.076023   504.0  2.947368  39.18 -121.43
20627  3.0000   5.0  6.067797  1.101695   169.0  2.864407  39.13 -121.32
20628  2.5952  19.0  5.238462  1.079487  1018.0  2.610256  39.10 -121.48
20629  2.0943  28.0  5.519802  1.020902  6912.0  3.801980  39.12 -121.39
20630  3.5673  11.0  5.932584  1.134831  1257.0  2.824719  39.29 -121.32
20631  3.5179  15.0  6.145833  1.141204  1200.0  2.777778  39.33 -121.40
20632  3.1250  15.0  6.023377  1.080519  1047.0  2.719481  39.26 -121.45
20633  2.5495  27.0  5.445026  1.078534  1082.0  2.832461  39.19 -121.53
20634  3.7125  28.0  6.779070  1.148256  1041.0  3.026163  39.27 -121.56
20635  1.5603  25.0  5.045455  1.133333   845.0  2.560606  39.48 -121.09
20636  2.5568  18.0  6.114035  1.315789   356.0  3.122807  39.49 -121.21
20637  1.7000  17.0  5.205543  1.120092  1007.0  2.325635  39.43 -121.22
20638  1.8672  18.0  5.329513  1.171920   741.0  2.123209  39.43 -121.32
20639  2.3886  16.0  5.254717  1.162264  1387.0  2.616981  39.37 -121.24

[20640 rows x 8 columns]